@{
    ViewData["Title"] = "Andon Receiving Part";
    string myurl = new ConfigurationBuilder().AddJsonFile("appsettings.json").Build().GetSection("Path:URL").Value;
    Layout = "~/Views/Shared/_LayoutAndon.cshtml";
}

<style>
    #tbHead td {
        height: 12px;
    }

    #Build {
        position: absolute;
        bottom: 5px;
        border: solid 1px white;
        left: 59vw;
    }
    #GridTittle {
        text-align: center;
        font-size: 5vh;
        font-weight: bold;
    }
    .page-main {
        overflow: auto;
        padding: 0 !important;
    }

    .k-grid-content {
        overflow: auto;
    }

    .k-grid-header {
        padding: 0 !important;
    }

    thead th {
        font-size: 1.7vh;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
    }

    thead td {
        font-size: 1.7vh;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
    }

    tbody td {
        font-size: 2vh;
    }
    .customSummary {
        font-size: 2.5vh;
    }   
    .custom0Summary {
        font-size: 3.5vh;
    }

    .customPairing1 {
        font-size: 4vh;
    }

    .customPairing {
        font-size: 3vh;
    }

    .customSummary1 {
        font-size: 2vh;
    }

    .tbCycle{
        position:relative;
        top :1px;
    }

    .customClass {
        text-align: center;
        font-size: 2.5vh;
    }

    .k-grid {
        border-color: #fafafa;
        font-size: 2vh;
        font-weight: bolder;
    }

    .k-grid td {
        border-bottom: 2px solid white;
        font-size: 2vh;
        height: 35px;
    }

    .AndonHeader {
        background-color: #75C4C0;
    }
    td.eff{
        background-color:coral;
        text-align:center;
        font-size:30px;    }

    td.rightItem{
        background-color:#000;
        color:#fff;
        font-size:3vh;

    }

    td.rightQty {
        background-color: mediumblue;
        font-size: 4vh;
        color:#fff;
    }

    .rightLabel {
        background-color: mediumseagreen;
    }


    .flex {
        display: flex;
        text-align: center;
    }

    td.valDetail {
        height:100%;
        font-size: 5vh;
        text-align: center;
        width:10%;
        background-color: bisque;
        border-right: solid 2px #fff;
    }

    td.valDetail1 {
        width: 10%;
        text-align: center;
        font-size: 5vh;
        background-color: fuchsia;
        border-right: solid 2px #fff;
    }

    .headDetail{
        color:#fff;
        text-align:center;
        background-color: #00b300;
        border-right:solid 2px #fff;
        border-bottom:solid 1px #fff;
    }

    .valLabel{
        background-color: #00b300;
        color:#fff;
        border-right:solid 2px #fff;
    }

    .customClass1 {
        font-size: 3vh;
    }

    .customClass3 {
        text-align: center;
        height: 60px;
        margin-top: 10px;
    }

        .customClass3 .sym {
            font-size: 4vh;
        }

        .customClass3 .stat {
            font-size: 2vh;
        }

    .custClass1 {
        font-size: 20px;
    }

    .k-grid-content .k-alt {
        background-color: #b3cccc;
    }

    .progress0 {
        width: 150px;
    }

    .progress1 {
        width: 50px;
    }

    #Notes {
        /*width: 96vw;*/
        background-color: #1F07D6;
        color: #ffffff;
        text-align: center;
        font-size: 2vh;
        font-weight:bold;
    }

    #top {
        position: absolute;
        top: -25px;
    }

    #flexes {
        display: flex;
    }
}
</style>

<div class="page-main" id="top">
    <div class="page-content">
        <div id="gridBuffer" style="margin-top:0px; margin-bottom:0px;width:99%;"></div>

        <div style="width:100%;" id="Notes">PROBLEM MINUS [DELIVERY]</div>
        <div id="flexes" style="width:100%;">
            <div id="gridNR" style="width:50%;"></div>
            <div id="gridSZ" style="width:50%;"></div>
        </div>
    </div>

    <div class="col-md-12" id="return">

        <div class="col-md-7">
            <div id="gridLeft" style="margin-top:0px; margin-bottom:0px;width:105%;"></div>
        </div>
        <div class="col-md-5">
            <div id="gridMid" style="margin-top:0px; margin-bottom:0px;width:100%;"></div>
        </div>

    </div>
</div>

<script>
    var gedung = localStorage['gedungP2'] != undefined ? localStorage['gedungP2'] : ""; 
    var shift = ""; var intr = 1; var tab = 0;
    const days = ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu"];
    const months = ["Januari", "Pebruari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"];
    var d = new Date(); var tmp=0; var PalID="";
    var hari = days[d.getDay()]; var PalID2 = "";
    var bulan = months[d.getMonth()];
    var tahun = d.getFullYear();
    var tanggal = d.getDate() + " " + bulan + " " + tahun;
    var dateDefault = new Date();
    var tabGrid5 = '0';
    var tabGrid4 = '0';
    var tabGrid3 = '0';
    var tabGrid2 = '0'
    var tabGrid1 = '0';

    var hour = d.getHours();
    hour = hour > 9 ? hour : '0' + hour;
    var minute = d.getMinutes();
    minute = minute > 9 ? minute : '0' + minute;
    var jam = hour + ':' + minute;

    $("#Period_From").kendoDatePicker({
        format: 'dd/MM/yyyy',
        value: dateDefault,
        //change: o.eventHandlers.onChangeDate.bind(o)
    });
    $("#Period_To").kendoDatePicker({
        format: 'dd/MM/yyyy',
        value: dateDefault,
        //change: o.eventHandlers.onChangeDate.bind(o)
    });

    var AppD = {
        attachEvents: function () {
            var o = this;

        },
        cacheDom: function () {
            var o = this;
            o.dom.$grid = $("#gridBuffer");
            o.dom.inputs = {};
            o.dom.inputs.$inputMaterialNo = $("#MaterialNo");
            o.dom.inputs.$inputJobNo = $("#JobNo");
            o.dom.inputs.$inputMaterialName = $("#MaterialName");
            o.dom.inputs.$inputMaterialDescription = $("#MaterialDescription");
            o.dom.inputs.$inputQtyPerBox = $("#QtyPerBox");
        },
        data: {},
        dom: {},
        eventHandlers: {

            onClickBtnCreate: function () {
                var o = this;
                getShop('X');
                $("#myModalLabel").html("Add New Part");
                o.dom.inputs.$inputMaterialNo.val('');
                o.dom.inputs.$inputJobNo.val('');
                o.dom.inputs.$inputMaterialName.val('');
                o.dom.inputs.$inputMaterialDescription.val('');
                o.dom.inputs.$inputQtyPerBox.val('');

                var modal = document.getElementById("myModal");
                modal.style.display = "block";
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
                var cancel = document.getElementById("btnCancel");
                cancel.onclick = function () {
                    modal.style.display = "none";
                }
            },
            onClickBtnUpdate: function (e) {
                var o = this;

                var di = o.dom.$grid.data('kendoGrid').dataItem($(e.target).closest('tr'));
                $("#myModalLabel").html("Edit Part");
                o.dom.inputs.$inputMaterialNo.val(di.MaterialNo);
                o.dom.inputs.$inputJobNo.val(di.JobNo);
                o.dom.inputs.$inputMaterialName.val(di.MaterialName);
                o.dom.inputs.$inputMaterialDescription.val(di.MaterialDescription);
                o.dom.inputs.$inputQtyPerBox.val(di.QtyPerBox);

                var modal = document.getElementById("myModal");
                modal.style.display = "block";
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
                var cancel = document.getElementById("btnCancel");
                cancel.onclick = function () {
                    modal.style.display = "none";
                }
            }
        },
        init: function () {
            var o = this;
            o.cacheDom();
            o.attachEvents();
            o.initElements();
        },
        initElements: function () {
            var o = this;
        },
        initAfter: function () {

            $("thead th").css('height', '20px');

            $("#BuildingID").kendoDropDownList({
                template: '<span>#:data.Plant# - #:data.IdValue# - #:data.ViewValue#</span>',
                valueTemplate: '<span>#:data.Plant# - #:data.IdValue# - #:data.ViewValue#</span>',
                optionLabel: "select building...",
                dataValueField: "IdValue",
                dataSource: {
                    transport: {
                        read: function (options) {
                            $.ajax({
                                method: 'post',
                                headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                                url: "@myurl" + 'DropDown/INQ',
                                dataType: 'text',
                                data: JSON.stringify({ Ftype: "Gedung", Plant: "P2" })
                            }).done(function (data, textStatus, jqXHR) {
                                try {
                                    var result = JSON.parse(data);
                                }
                                catch (e) {
                                    //swal.fire('Error', 'Error loading grid', 'error');
                                    options.success({ data: [] });
                                    return;
                                }
                                options.success(result);
                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                //swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                                options.success({ data: [] });
                            });
                        }
                    }
                },
                change: function (e) {
                    var value = this.value();
                    value = value == null ? '' : value;
                    if (value != '') {
                        localStorage['gedungP2'] = value;
                    }
                    intr = 0;
                    // Use the value of the widget
                }
            }).data("kendoDropDownList");
            gedung = localStorage['gedungP2'] != undefined ? localStorage['gedungP2'] : gedung;
            $("#BuildingID").data("kendoDropDownList").value(gedung);
        }
    };

    $(function () {
        $("#hari").html(hari);
        $("#tanggal").html(tanggal);

        $("#jamx").html('&nbsp;' + jam);
        AppD.init(); isiGrid();


        $.ajax({
            method: 'post',
            headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
            url: "@myurl" + 'Andon/Shift',
            dataType: 'text',
            data: JSON.stringify({ Plant: 'P2' })
        }).done(function (data, textStatus, jqXHR) {
            try {
                var result = JSON.parse(data);
                shift = result[0].shift;
            }
            catch (e) {
                //swal.fire('Error', 'Error loading grid', 'error');

                return;
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            //swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');

        });

        $("#shift").html(shift);
    });

    function isiGrid2() {

        $("#gridBuffer").html("");
        $("#gridBuffer").kendoGrid({
            excel: {
                fileName: "Andon Bufferxlsx",
                allPages: true,
                filterable: true
            },
            dataSource: {
                transport: {
                    read: function (options) {
                        $.ajax({
                            method: 'post',
                            headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                            url: "@myurl" + 'Andon/AndonReceivingEnginePairingLeft',
                            dataType: 'text',
                            data: JSON.stringify({ tabGrid: tabGrid1, gedung: gedung })
                        }).done(function (data, textStatus, jqXHR) {
                            try {
                                var result = JSON.parse(data);
                                let tmp1 = result.length > 0 ? result[0].tabGrid : 0;
                                tabGrid1 = tmp1.toString();
                                tmp = result.length;
                            }
                            catch (e) {
                                //swal.fire('Error', 'Error loading grid', 'error');
                                options.success({ data: [] });
                                return;
                            }
                            options.success(result);
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            //swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                            options.success({ data: [] });
                        });
                    }
                },
                schema: {
                    model: {
                        id: "Num",
                        fields: {
                            gedung: { type: "string" },
                            tabGrid: { type: "string" },
                            Num: { type: "string" },
                            Num2: { type: "string" },
                            DNNo: { type: "string" },
                            Cycle: { type: "string" },
                            Category: { type: "string" },
                            Item: { type: "string" },
                            Qty: { type: "string" },
                            Resumes: { type: "string" },
                        }
                    }
                },
                //pageSize: 20
            },
            columns: [
                {
                    field: "DNNo",
                    title: "DN No",
                    template: "<div class='customPairing' height='100%'> #= (DNNo == '') ? ' ' : kendo.toString(DNNo, '') # </div>",
                    width: 100,
                },
                {
                    field: "Cycle",
                    title: "Cycle",
                    template: "<div class='customPairing1'> #= (Cycle == null) ? ' ' : kendo.toString(Cycle, '') # </div>",
                    width: 60,
                },
                {
                    field: "Category",
                    title: "Category",
                    template: "<div class='customPairing'> #= (Category == null) ? ' ' : kendo.toString(Category, '') # </div>",
                    width: 120,
                },
                {tittle:"Total", columns:[
                {
                    field: "Item",
                    title: "Item",
                    width: 60,
                            template: "<div class='customPairing1'> #= (Item == null) ? ' ' : kendo.toString(Item, '') # </div>",
                },
                {
                    field: "Qty",
                    title: "Qty",
                    width: 60,
                            template: "<div class='customPairing1'> #= (Qty == null) ? ' ' : kendo.toString(Qty, '') # </div>",
                        },]
                },
                {
                    title: "Resume Scan RFID", width: 120, field: "Resumes",
                    template: "<div class='customSummary'> #= (Resumes == '') ? ' ' : kendo.toString(Resumes, '') # </div>",
                }
            ],
            toolbar: $("#template_toolbar").html()
            ,
            dataBound: function (e) {

                $("#hari").html(hari);
                $("#tanggal").html(tanggal);
                $("#jamx").html('&nbsp;' + jam);
                $(".AndonHeader").css('background-color', '#75C4C0');
                $("tbody tr").css('height', '20px');
                $("thead tr").css('text-align', 'center');

                $("#gridBuffer thead th").css('background-color', '#008000');
                $("#gridBuffer thead th").css('vertical-align', 'middle');
                $("#gridBuffer thead th").css('color', '#ffffff');
                $("#gridBuffer thead th").css('font-weight', 'bold');
                $("#gridBuffer thead th").css('text-align', 'center');


                $("#BuildingID").kendoDropDownList({
                    template: '<span>#:data.Plant# - #:data.IdValue# - #:data.ViewValue#</span>',
                    valueTemplate: '<span>#:data.Plant# - #:data.IdValue# - #:data.ViewValue#</span>',
                    optionLabel: "select building...",
                    dataValueField: "IdValue",
                    dataSource: {
                        transport: {
                            read: function (options) {
                                $.ajax({
                                    method: 'post',
                                    headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                                    url: "@myurl" + 'DropDown/INQ',
                                    dataType: 'text',
                                    data: JSON.stringify({ Ftype: "Gedung", Plant: "P2" })
                                }).done(function (data, textStatus, jqXHR) {
                                    try {
                                        var result = JSON.parse(data);
                                    }
                                    catch (e) {
                                        //swal.fire('Error', 'Error loading grid', 'error');
                                        options.success({ data: [] });
                                        return;
                                    }
                                    options.success(result);
                                }).fail(function (jqXHR, textStatus, errorThrown) {
                                    //swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                                    options.success({ data: [] });
                                });
                            }
                        }
                    },
                    change: function (e) {
                        var value = this.value();
                        value = value == null ? '' : value;
                        if (value != '') {
                            localStorage['gedungP2'] = value;
                        }
                        intr = 0;
                        // Use the value of the widget
                    }
                }).data("kendoDropDownList");
                gedung = localStorage['gedungP2'] != undefined ? localStorage['gedungP2'] : gedung;
                $("#BuildingID").data("kendoDropDownList").value(gedung);
                $("#GridTittle").html("Andon Receiving Part");
                if (tmp > 0) {
                    const table = document.querySelector('#gridBuffer .k-grid-content table');
                    let headerCell = null; let headerCell2 = null; let headerCell3 = null;

                    //lastCell = row.cells[5]; lastCell.rowSpan = tmp;
                    let hit =0;
                    for (let row of table.rows) {
                        secondCell = row.cells[1]; firstCell = row.cells[0];


                        if (hit == 0) {
                            lastCell = row.cells[5];
                            hit=1;
                        } else {
                            lastCell.rowSpan++;
                            row.cells[5].remove();
                        }
                        if (secondCell.innerText == '' || secondCell.innerText == null) {

                            row.cells[4].remove();
                            row.cells[3].remove();
                            row.cells[2].remove();
                            row.cells[1].remove();

                            firstCell.colSpan = 5;
                        }

                    }
                }
            }
        });
    }
    function isiGrid() {
        $("#gridBuffer").html("");
        $("#gridBuffer").kendoGrid({
            excel: {
                fileName: "Andon Bufferxlsx",
                allPages: true,
                filterable: true
            },
            dataSource: {
                transport: {
                    read: function (options) {
                        $.ajax({
                            method: 'post',
                            headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                            url: "@myurl" + 'Andon/AndonReceivingEngine',
                            dataType: 'text',
                            data: JSON.stringify({ tabGrid: tabGrid2, gedung:gedung })
                        }).done(function (data, textStatus, jqXHR) {
                            try {
                                var result = JSON.parse(data);
                                let tmp1 = result.length > 0 ? result[0].tabGrid : 0;
                                tabGrid2 = tmp1.toString();
                            }
                            catch (e) {
                                //swal.fire('Error', 'Error loading grid', 'error');
                                options.success({ data: [] });
                                return;
                            }
                            options.success(result);
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            //swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                            options.success({ data: [] });
                        });
                    }
                },
                schema: {
                    model: {
                        id: "Num",
                        fields: {
                            Nos : { type: "string" },
                            Cycle : { type: "string" },
                            DNNo : { type: "string" },
                            PartNumber : { type: "string" },
                            PartName : { type: "string" },
                            Arrival : { type: "string" },
                            orderKanban : { type: "string" },
                            received : { type: "string" },
                            balanched : { type: "string" },
                            TotalReceived : { type: "string" },
                            status : { type: "string" },
                            acheivement : { type: "string" },
                            tabGrid : { type: "string" },
                        }
                    }
                },
                //pageSize: 20
            },
            columns: [
                {
                    field: "Cycle",
                    title: "DELIV",
                    template: "<div class='customSummary'> #= (Cycle == null) ? ' ' : 'Cycle '+kendo.toString(Cycle, '') # </div>",
                    width: 70,
                },
                {
                    field: "DNNo",
                    title: "DNNo",
                    template: "<div class='customSummary'> #= (DNNo == null) ? ' ' : kendo.toString(DNNo, '') # </div>",
                    width: 120,
                },
                {
                    field: "Nos",
                    title: "NO",
                    template: "<div class='customSummary'> #= (Nos == null) ? ' ' : kendo.toString(Nos, '') # </div>",
                    width: 30,
                },
                {
                    field: "PartNumber",
                    title: "PART NUMBER",
                    width: 130,
                    template: "<div class='customSummary'> #= (PartNumber == null) ? ' ' : kendo.toString(PartNumber, '') # </div>",
                },
                {
                    field: "PartName",
                    title: "PART NAME",
                    width: 120,
                    template: "<div class='customSummary'> #= (PartName == null) ? ' ' : kendo.toString(PartName, '') # </div>",
                },
                {
                    field: "Arrival",
                    title: "ARR",
                    width: 50,
                    template: "<div class='customSummary'> #= (Arrival == null) ? ' ' : kendo.toString(Arrival, '') # </div>",
                },
                {
                    field: "orderKanban",
                    title: "ORD",
                    width: 50,
                    template: "<div class='customSummary'> #= (orderKanban == null) ? ' ' : kendo.toString(orderKanban, '') # </div>",
                },
                {
                    field: "received",
                    title: "RCV",
                    width: 50,
                    template: "<div class='customSummary'> #= (received == null) ? ' ' : kendo.toString(received, '') # </div>",
                },
                {
                    field: "balanched",
                    title: "BAL",
                    width: 50,
                    template: "<div class='customSummary'> #= (balanched == null) ? ' ' : kendo.toString(balanched, '') # </div>",
                },
                {
                    field: "status",
                    title: "STATUS",
                    width: 60, attributes: { 'style': "background-color: #= (status == 'CLOSE') ? 'lime;' : 'red;'#" },
                    template: "<div class='customSummary'> #= (status == null) ? ' ' : kendo.toString(status, '') # </div>",
                },
                {
                    field: "acheivement",
                    title: "ACH",
                    width: 60,
                    template: "<div class='customSummary'> #= (acheivement == null) ? ' ' : kendo.toString(acheivement, '') # </div>",
                },
            ],
            toolbar: $("#template_toolbar").html()
            ,
            dataBound: function (e) {

                $("#hari").html(hari);
                $("#tanggal").html(tanggal);
                $("#jamx").html('&nbsp;' + jam);
                $(".AndonHeader").css('background-color', '#75C4C0');
                $("#gridBuffer tbody tr").css('height', '20px');
                $("#gridBuffer thead th").css('color', '#ffffff');
                $("#gridBuffer thead th").css('vertical-align', 'middle');
                $("#gridBuffer thead th").css('font-weight', 'bold');
                $("#gridBuffer thead tr").css('text-align', 'center');
                $("#gridBuffer thead th").css('background-color', '#000000');


                $("#BuildingID").kendoDropDownList({
                    template: '<span>#:data.Plant# - #:data.IdValue# - #:data.ViewValue#</span>',
                    valueTemplate: '<span>#:data.Plant# - #:data.IdValue# - #:data.ViewValue#</span>',
                    optionLabel: "select building...",
                    dataValueField: "IdValue",
                    dataSource: {
                        transport: {
                            read: function (options) {
                                $.ajax({
                                    method: 'post',
                                    headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                                    url: "@myurl" + 'DropDown/INQ',
                                    dataType: 'text',
                                    data: JSON.stringify({ Ftype: "Gedung", Plant: "P2" })
                                }).done(function (data, textStatus, jqXHR) {
                                    try {
                                        var result = JSON.parse(data);
                                    }
                                    catch (e) {
                                        //swal.fire('Error', 'Error loading grid', 'error');
                                        options.success({ data: [] });
                                        return;
                                    }
                                    options.success(result);
                                }).fail(function (jqXHR, textStatus, errorThrown) {
                                    //swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                                    options.success({ data: [] });
                                });
                            }
                        }
                    },
                    change: function (e) {
                        var value = this.value();
                        value = value == null ? '' : value;
                        if (value != '') {
                            localStorage['gedungP2'] = value;
                        }
                        intr = 0;
                        // Use the value of the widget
                    }
                }).data("kendoDropDownList");
                gedung = localStorage['gedungP2'] != undefined ? localStorage['gedungP2'] : gedung;
                $("#BuildingID").data("kendoDropDownList").value(gedung);
                $("#GridTittle").html("Andon Receiving Part");
            }
        });
        $("#gridNR").html("");
        $("#gridNR").kendoGrid({
            excel: {
                fileName: "Andon Bufferxlsx",
                allPages: true,
                filterable: true
            },
            dataSource: {
                transport: {
                    read: function (options) {
                        console.log(tabGrid4)
                        $.ajax({
                            method: 'post',
                            headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                            url: "@myurl" + 'Andon/AndonReceivingEngineList',
                            dataType: 'text',
                            data: JSON.stringify({ tabGrid: tabGrid4, gedung: gedung, type :'NR'})
                        }).done(function (data, textStatus, jqXHR) {
                            try {
                                var result = JSON.parse(data);
                                let tmp4 = result.length > 0 ? result[0].tabGrid : 0;
                                tabGrid4 = tmp4.toString();
                            }
                            catch (e) {
                                //swal.fire('Error', 'Error loading grid', 'error');
                                options.success({ data: [] });
                                return;
                            }
                            options.success(result);
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            //swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                            options.success({ data: [] });
                        });
                    }
                },
                schema: {
                    model: {
                        id: "",
                        fields: {
                            Num: { type: "string" },
                            Cycle: { type: "string" },
                            DNNo: { type: "string" },
                            PartName: { type: "string" },
                            PartNumber: { type: "string" },
                            received: { type: "string" },
                            zNum: { type: "string" },
                            zCycle: { type: "string" },
                            zDNNo: { type: "string" },
                            zPartName: { type: "string" },
                            zPartNumber: { type: "string" },
                            zReceived: { type: "string" }
                        }
                    }
                }
            },
            columns: [
                        {title: "NR Line", columns: [
                            {
                            field: "Num", title: "No", width: 30, template: "<div class='customSummary1'> #= (Num == null) ? ' ' : kendo.toString(Num, '') # </div>",
                                attributes: { 'style': "color:black;text-align:center;" },
                            },
                            {
                            field: "Cycle", title: "Delivery", width: 55, template: "<div class='customSummary1'> #= (Cycle == '') ? ' ' : 'Cyc. ' +kendo.toString(Cycle, '') # </div>",
                                attributes: { 'style': "color:black;text-align:center;" },
                            },
                            {
                            field: "DNNo", title: "DNNo", width: 110, template: "<div class='customSummary1'> #= (DNNo == null) ? ' ' : kendo.toString(DNNo, '') # </div>",
                                attributes: { 'style': "color:black;text-align:center;" },
                            },
                            {
                            field: "PartName", title: "Part Name", width: 100, template: "<div class='customSummary1'> #= (PartName == null) ? ' ' : kendo.toString(PartName, '') # </div>",
                                attributes: { 'style': "color:black;text-align:center;" },
                            },
                            {
                            field: "PartNumber", title: "Part Number", width: 120, template: "<div class='customSummary1'> #= (PartNumber == null) ? ' ' : kendo.toString(PartNumber, '') # </div>",
                                attributes: { 'style': "color:black;text-align:center;" },
                            },
                            {
                                    field: "received", title: "Kanban", width: 50, template: "<div class='customSummary1'> #= (received == null) ? ' ' : kendo.toString(received, '') # </div>",
                                attributes: { 'style': "color:black;text-align:center;" },
                            },]},
            ]
            ,
            dataBound: function (e) {

                $("#gridNR tbody tr").css('height', '30px');
                //$("#gridNR tbody th").css('font-size', '30px');
                $("#gridNR thead th").css('text-align', 'center');
                $("#gridNR thead tr").css('text-align', 'center');
                $("#gridNR thead tr").css('vertical-align', 'middle');
                $("#gridNR thead th").css('vertical-align', 'middle');
                $("#gridNR thead th").css('font-weight', 'bold');
                $("#gridNR thead tr").css('font-size', '1.8vh');

                $("#gridNR thead th").css('background-color', '#ff8c1a');
                $("#gridNR thead th").css('color', '#000000');
                $("#gridNR thead th").css('font-weight', 'bold');
                $("#gridNR tbody tr").css('background-color', '#ffbf80');
                const table1 = document.querySelector('#gridNR .k-header');
                table1.style = "text-align:center;background-color:#e67300;color:#fff;height:20px;font-weight:bold;";

            }
        });

        $("#gridSZ").html("");
        $("#gridSZ").kendoGrid({
            excel: {
                fileName: "Andon Bufferxlsx",
                allPages: true,
                filterable: true
            },
            dataSource: {
                transport: {
                    read: function (options) {
                        console.log(tabGrid5)
                        $.ajax({
                            method: 'post',
                            headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                            url: "@myurl" + 'Andon/AndonReceivingEngineList',
                            dataType: 'text',
                            data: JSON.stringify({ tabGrid: tabGrid5, gedung: gedung, type: 'SZ' })
                        }).done(function (data, textStatus, jqXHR) {
                            try {
                                var result = JSON.parse(data);
                                let tmp5 = result.length > 0 ? result[0].tabGrid : 0;
                                tabGrid5 = tmp5.toString();
                            }
                            catch (e) {
                                //swal.fire('Error', 'Error loading grid', 'error');
                                options.success({ data: [] });
                                return;
                            }
                            options.success(result);
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            //swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                            options.success({ data: [] });
                        });
                    }
                },
                schema: {
                    model: {
                        id: "",
                        fields: {
                            Num: { type: "string" },
                            Cycle: { type: "string" },
                            DNNo: { type: "string" },
                            PartName: { type: "string" },
                            PartNumber: { type: "string" },
                            received: { type: "string" },
                            zNum: { type: "string" },
                            zCycle: { type: "string" },
                            zDNNo: { type: "string" },
                            zPartName: { type: "string" },
                            zPartNumber: { type: "string" },
                            zReceived: { type: "string" }
                        }
                    }
                }
            },
            columns: [
                
                {
                    title: "SZKR WA CVT Line", columns: [
                        {
                            field: "zNum", title: "No", width: 30, template: "<div class='customSummary1'> #= (zNum == null) ? ' ' : kendo.toString(zNum, '') # </div>",
                            attributes: { 'style': "color:black;text-align:center;" },
                        },
                        {
                            field: "Cycle", title: "Cycle", width: 55, template: "<div class='customSummary1'> #= (zCycle == '') ? ' ' : 'Cyc. ' +kendo.toString(zCycle, '') # </div>",
                            attributes: { 'style': "color:black;text-align:center;" },
                        },
                        {
                            field: "zDNNo", title: "DNNo", width: 110, template: "<div class='customSummary1'> #= (zDNNo == null) ? ' ' : kendo.toString(zDNNo, '') # </div>",
                            attributes: { 'style': "color:black;text-align:center;" },
                        },
                        {
                            field: "zPartName", title: "Part Name", width: 120, template: "<div class='customSummary1'> #= (zPartName == null) ? ' ' : kendo.toString(zPartName, '') # </div>",
                            attributes: { 'style': "color:black;text-align:center;" },
                        },
                        {
                            field: "zPartNumber", title: "Part Number", width: 120, template: "<div class='customSummary1'> #= (zPartNumber == null) ? ' ' : kendo.toString(zPartNumber, '') # </div>",
                            attributes: { 'style': "color:black;text-align:center;" },
                        },
                        {
                            field: "zReceived", title: "Kanban", width: 50, template: "<div class='customSummary1'> #= (zReceived == null) ? ' ' : kendo.toString(zReceived, '') # </div>",
                            attributes: { 'style': "color:black;text-align:center;" },
                        },]
                }
            ]
            ,
            dataBound: function (e) {

                $("#gridSZ tbody tr").css('height', '30px');
                //$("#gridSZ tbody th").css('font-size', '30px');
                $("#gridSZ thead th").css('text-align', 'center');
                $("#gridSZ thead tr").css('text-align', 'center');
                $("#gridSZ thead th").css('vertical-align', 'middle');
                $("#gridSZ thead tr").css('vertical-align', 'middle');
                $("#gridSZ thead th").css('font-weight', 'bold');
                $("#gridSZ thead tr").css('font-size', '1.8vh');

                $("#gridSZ thead th").css('background-color', '#00cc44');
                $("#gridSZ thead th").css('color', '#000000');
                $("#gridSZ tbody tr").css('background-color', '#4dff88');

                const table1 = document.querySelector('#gridSZ .k-header');
                table1.style = "text-align:center;background-color:#009933;color:#fff;height:20px;font-weight:bold;";
            }
        });

    }

    function isiGrid3() {
        $("#gridBuffer").html("");
        $("#gridBuffer").kendoGrid({
            excel: {
                fileName: "Andon Bufferxlsx",
                allPages: true,
                filterable: true
            },
            dataSource: {
                transport: {
                    read: function (options) {
                        $.ajax({
                            method: 'post',
                            headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                            url: "@myurl" + 'Andon/AndonReturnPallet',
                            dataType: 'text',
                            data: JSON.stringify({ tabGrid: tabGrid3, gedung: gedung })
                        }).done(function (data, textStatus, jqXHR) {
                            try {
                                var result = JSON.parse(data);
                                //let tmp1 = result.length > 0 ? result[0].tabGrid : 0;
                                tabGrid3 = '0';//tmp1.toString();
                            }
                            catch (e) {
                                options.success({ data: [] });
                                return;
                            }
                            options.success(result);
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            options.success({ data: [] });
                        });
                    }
                },
                schema: {
                    model: {
                        id: "Num",
                        fields: {
                            Num: { type: "string" },
                            PalletType: { type: "string" },
                            Qty: { type: "string" },
                            QtyScan: { type: "string" },
                            Total: { type: "string" },
                            idx: { type: "string" },
                            ItemPallet: { type: "string" },
                            typ: { type: "string" }


                        }
                    }
                },
                //pageSize: 20
            },
            columns: [
                {
                    title: "SCAN RFID - PALLET", field: "", columns: [
                        {
                            field: "PalletType",
                            title: "Pallet Type",
                            width: 120,
                            attributes: { 'style': "background-color:lime;font-size:20px;" }
                        },
                        {
                            field: "QtyScan",
                            title: "Qty<br>[Scan]",
                            width: 50,
                            attributes: { 'style': "background-color:yellow;font-size:20px;" }
                        },
                        {
                            field: "Total",
                            title: "Total<br>[CUMM]",
                            width: 50,
                            attributes: { 'style': "background-color:lime;font-size:20px;" }
                        },
                        {
                            title: "",
                            width: 5,
                            attributes: { 'style': "background-color:DarkCyan;font-size:20px;" }
                        },
                        {
                            field: "", title: "ITEM RETURN - PALLET", columns: [
                                {
                                    field: "Num",
                                    title: "No.",
                                    width: 25,
                                    attributes: { 'style': "background-color:MediumPurple;font-size:20px;" }
                                },
                                {
                                    field: "ItemPallet",
                                    title: "Item Pallet",
                                    width: 120,
                                    attributes: { 'style': "background-color:MediumPurple;font-size:20px;" }
                                },
                                {
                                    field: "Qty",
                                    title: "Qty",
                                    width: 50,
                                    attributes: { 'style': "background-color:Linen;font-size:20px;" }
                                },
                            ]
                        }
                    ]
                }
            ],
            toolbar: $("#template_toolbar").html()
            ,
            dataBound: function (e) {
                var grid = this;

                grid.tbody.find(".progress0").each(function (e) {
                    var row = $(this).closest("tr");
                    var model = grid.dataItem(row);

                    $(this).kendoProgressBar({
                        max: parseInt(model.EnterStock),
                        value: parseInt(model.endStock)
                    })
                });

                $("#hari").html(hari);
                $("#tanggal").html(tanggal);
                $("#jamx").html('&nbsp;' + jam);
                $("#shift").html(shift);
                $(".AndonHeader").css('background-color', '#75C4C0');
                $("#gridBuffer tbody tr").css('height', '20px');
                $("#gridBuffer thead th").css('background-color', '#ff6666');
                $("#gridBuffer thead th").css('color', '#ffffff');
                $("#gridBuffer thead th").css('text-align', 'center');
                $("#gridBuffer thead th").css('vertical-align', 'middle');
                $("#gridBuffer thead th").css('font-weight', 'bold');
                $("#gridBuffer thead tr").css('vertical-align', 'middle');


                const table1 = document.querySelector('#gridBuffer .k-header');
                table1.style = "text-align:center;background-color:#007399;color:#fff;height:20px;font-size:14px;";

                $("#BuildingID").kendoDropDownList({
                    template: '<span>#:data.Plant# - #:data.IdValue# - #:data.ViewValue#</span>',
                    valueTemplate: '<span>#:data.Plant# - #:data.IdValue# - #:data.ViewValue#</span>',
                    optionLabel: "select building...",
                    dataValueField: "IdValue",
                    dataSource: {
                        transport: {
                            read: function (options) {
                                $.ajax({
                                    method: 'post',
                                    headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                                    url: "@myurl" + 'DropDown/INQ',
                                    dataType: 'text',
                                    data: JSON.stringify({ Ftype: "Gedung", Plant: "P2" })
                                }).done(function (data, textStatus, jqXHR) {
                                    try {
                                        var result = JSON.parse(data);
                                    }
                                    catch (e) {
                                        //swal.fire('Error', 'Error loading grid', 'error');
                                        options.success({ data: [] });
                                        return;
                                    }
                                    options.success(result);
                                }).fail(function (jqXHR, textStatus, errorThrown) {
                                    //swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                                    options.success({ data: [] });
                                });
                            }
                        }
                    },
                    change: function (e) {
                        var value = this.value();
                        value = value == null ? '' : value;
                        if (value != '') {
                            localStorage['gedungP2'] = value;
                        }
                        intr = 0;
                        // Use the value of the widget
                    }
                }).data("kendoDropDownList");
                gedung = localStorage['gedungP2'] != undefined ? localStorage['gedungP2'] : gedung;
                $("#BuildingID").data("kendoDropDownList").value(gedung);
                $("#GridTittle").html("Andon Monitoring Return Pallet");
            }
        });

        $("#gridLeft").html("");
        $("#gridLeft").kendoGrid({
            excel: {
                fileName: "Andon Bufferxlsx",
                allPages: true,
                filterable: true
            },
            dataSource: {
                transport: {
                    read: function (options) {
                        $.ajax({
                            method: 'post',
                            headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                            url: "@myurl" + 'Andon/AndonStockLDKList',
                            dataType: 'text',
                            data: JSON.stringify({ gedung: gedung })
                        }).done(function (data, textStatus, jqXHR) {
                            try {
                                var result = JSON.parse(data);
                                //console.log(data);
                            }
                            catch (e) {
                                //swal.fire('Error', 'Error loading grid', 'error');
                                options.success({ data: [] });
                                return;
                            }
                            options.success(result);
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            //swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                            options.success({ data: [] });
                        });
                    }
                },
                schema: {
                    model: {
                        id: "",
                        fields: {

                            NR1: { type: "string" },
                            NR2: { type: "string" },
                            NR3: { type: "string" },
                            NR4: { type: "string" },
                            NR5: { type: "string" },
                            NR6: { type: "string" },
                            NR7: { type: "string" },
                            NR8: { type: "string" },
                            SZ1: { type: "string" },
                            SZ2: { type: "string" },
                            SZ3: { type: "string" },
                            SZ4: { type: "string" },
                            SZ5: { type: "string" },
                            SZ6: { type: "string" },
                        }
                    }
                }
            },
            columns: [
                {
                    title: "NR Line", columns: [
                        {
                            field: "NR1", title: "Cycle 1", width: 50, template: "<div class='custom0Summary'> #= (NR1 == null) ? ' ' : kendo.toString(NR1, '') # </div>",
                            attributes: { 'style': "background-color: DarkOliveGreen;color:black;text-align:center;" },
                        },
                        {
                            field: "NR2", title: "Cycle 2", width: 50, template: "<div class='custom0Summary'> #= (NR2 == null) ? ' ' : kendo.toString(NR2, '') # </div>",
                            attributes: { 'style': "background-color: DarkOliveGreen;color:black;text-align:center;" },
                        },
                        {
                            field: "NR3", title: "Cycle 3", width: 50, template: "<div class='custom0Summary'> #= (NR3 == null) ? ' ' : kendo.toString(NR3, '') # </div>",
                            attributes: { 'style': "background-color: DarkOliveGreen;color:black;text-align:center;" },
                        },
                        {
                            field: "NR4", title: "Cycle 4", width: 50, template: "<div class='custom0Summary'> #= (NR4 == null) ? ' ' : kendo.toString(NR4, '') # </div>",
                            attributes: { 'style': "background-color: DarkOliveGreen;color:black;text-align:center;" },
                        },
                        {
                            field: "NR5", title: "Cycle 5", width: 50, template: "<div class='custom0Summary'> #= (NR5 == null) ? ' ' : kendo.toString(NR5, '') # </div>",
                            attributes: { 'style': "background-color: DarkOliveGreen;color:black;text-align:center;" },
                        },
                        {
                            field: "NR6", title: "Cycle 6", width: 50, template: "<div class='custom0Summary'> #= (NR6 == null) ? ' ' : kendo.toString(NR6, '') # </div>",
                            attributes: { 'style': "background-color: DarkOliveGreen;color:black;text-align:center;" },
                        },
                        {
                            field: "NR7", title: "Cycle 7", width: 50, template: "<div class='custom0Summary'> #= (NR7 == null) ? ' ' : kendo.toString(NR7, '') # </div>",
                            attributes: { 'style': "background-color: DarkOliveGreen;color:black;text-align:center;" },
                        },
                        {
                            field: "NR8", title: "Cycle 8", width: 50, template: "<div class='custom0Summary'> #= (NR8 == null) ? ' ' : kendo.toString(NR8, '') # </div>",
                            attributes: { 'style': "background-color: DarkOliveGreen;color:black;text-align:center;" },
                        },
                    ]
                },
            ]
            ,
            dataBound: function (e) {

                $("#gridLeft tbody tr").css('height', '30px');
                $("#gridLeft tbody th").css('font-size', '30px');
                $("#gridLeft thead th").css('background-color', '##dbdbdb');
                $("#gridLeft thead th").css('color', '#000000');
                $("#gridLeft thead th").css('text-align', 'center');
                $("#gridLeft thead th").css('font-weight', 'bold');
                $("#gridLeft thead th").css('vertical-align', 'middle');
                $("#gridLeft thead tr").css('vertical-align', 'middle');
                $("#gridLeft tbody tr").css('background-color', '#808080');

            }
        });
        $("#gridMid").html("");
        $("#gridMid").kendoGrid({
            excel: {
                fileName: "Andon Bufferxlsx",
                allPages: true,
                filterable: true
            },
            dataSource: {
                transport: {
                    read: function (options) {
                        $.ajax({
                            method: 'post',
                            headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                            url: "@myurl" + 'Andon/AndonStockLDKList',
                            dataType: 'text',
                            data: JSON.stringify({ gedung: gedung })
                        }).done(function (data, textStatus, jqXHR) {
                            try {
                                var result = JSON.parse(data);
                                //console.log(data);
                            }
                            catch (e) {
                                //swal.fire('Error', 'Error loading grid', 'error');
                                options.success({ data: [] });
                                return;
                            }
                            options.success(result);
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            //swal.fire('Error', (jqXHR.responseText !== '' ? ': ' + jqXHR.responseText : ''), 'error');
                            options.success({ data: [] });
                        });
                    }
                },
                schema: {
                    model: {
                        id: "",
                        fields: {

                            NR1: { type: "string" },
                            NR2: { type: "string" },
                            NR3: { type: "string" },
                            NR4: { type: "string" },
                            NR5: { type: "string" },
                            NR6: { type: "string" },
                            NR7: { type: "string" },
                            NR8: { type: "string" },
                            SZ1: { type: "string" },
                            SZ2: { type: "string" },
                            SZ3: { type: "string" },
                            SZ4: { type: "string" },
                            SZ5: { type: "string" },
                            SZ6: { type: "string" },
                        }
                    }
                }
            },
            columns: [
                {
                    title: "SKZR WA CVT Line", columns: [
                        {
                            field: "SZ1", title: "Cycle 1", width: 50, template: "<div class='custom0Summary'> #= (SZ1 == null) ? ' ' : kendo.toString(SZ1, '') # </div>",
                            attributes: { 'style': "background-color: SlateBlue;color:black;text-align:center;" },
                        },
                        {
                            field: "SZ2", title: "Cycle 2", width: 50, template: "<div class='custom0Summary'> #= (SZ2 == null) ? ' ' : kendo.toString(SZ2, '') # </div>",
                            attributes: { 'style': "background-color: SlateBlue;color:black;text-align:center;" },
                        },
                        {
                            field: "SZ3", title: "Cycle 3", width: 50, template: "<div class='custom0Summary'> #= (SZ3 == null) ? ' ' : kendo.toString(SZ3, '') # </div>",
                            attributes: { 'style': "background-color: SlateBlue;color:black;text-align:center;" },
                        },
                        {
                            field: "SZ4", title: "Cycle 4", width: 50, template: "<div class='custom0Summary'> #= (SZ4 == null) ? ' ' : kendo.toString(SZ4, '') # </div>",
                            attributes: { 'style': "background-color: SlateBlue;color:black;text-align:center;" },
                        },
                        {
                            field: "SZ5", title: "Cycle 5", width: 50, template: "<div class='custom0Summary'> #= (SZ5 == null) ? ' ' : kendo.toString(SZ5, '') # </div>",
                            attributes: { 'style': "background-color: SlateBlue;color:black;text-align:center;" },
                        },
                        {
                            field: "SZ6", title: "Cycle 6", width: 50, template: "<div class='custom0Summary'> #= (SZ6 == null) ? ' ' : kendo.toString(SZ6, '') # </div>",
                            attributes: { 'style': "background-color: SlateBlue;color:black;text-align:center;" },
                        },
                    ]
                },


            ]
            ,
            dataBound: function (e) {

                $("#gridMid tbody tr").css('height', '30px');
                $("#gridMid tbody th").css('font-size', '30px');
                $("#gridMid thead th").css('background-color', '#9bc2e6');
                $("#gridMid thead th").css('color', '#000000');
                $("#gridMid thead th").css('text-align', 'center');
                $("#gridMid tbody tr").css('background-color', '#305496');
                $("#gridMid thead th").css('font-weight', 'bold');
                $("#gridMid thead th").css('vertical-align', 'middle');
                $("#gridMid thead tr").css('vertical-align', 'middle');

            }
        });

    }

    $(document).ready(function () {
        var intervalDate = setInterval(function () {
            d = new Date();
            hari = days[d.getDay()];
            bulan = months[d.getMonth()];
            tahun = d.getFullYear();
            tanggal = d.getDate() + " " + bulan + " " + tahun;

            hour = d.getHours();
            hour = hour > 9 ? hour : '0' + hour;
            minute = d.getMinutes();
            minute = minute > 9 ? minute : '0' + minute;
            jam = hour + ':' + minute;
            if (intr % 15 == 0) {
                isiGrid();

                $("#flexes").show();
                $("#Notes").show();
                $("#gridBuffer").show();
                $("#return").hide();

                $.ajax({
                    method: 'post',
                    headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                    url: "@myurl" + 'Andon/Shift',
                    dataType: 'text',
                    data: JSON.stringify({ Plant: 'P2' })
                }).done(function (data, textStatus, jqXHR) {
                    try {
                        var result = JSON.parse(data);
                        shift = result[0].shift;
                    }
                    catch (e) {
                        return;
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {

                });

                $("#shift").html(shift);
            } else if (intr > 1) {
                $.ajax({
                    method: 'post',
                    headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                    url: "@myurl" + 'Andon/AndonPairingCek',
                    dataType: 'text',
                    data: JSON.stringify({ param: 'Receiving', gedung: gedung })
                }).done(function (data, textStatus, jqXHR) {
                    try {
                        if (data != "[]") {
                            //console.log('3');
                            //console.log(data);
                            let jsn = JSON.parse(data);
                            if (PalID != jsn[0]['PalletId']) {
                                PalID = jsn[0]['PalletId'];

                                isiGrid2();
                                $("#flexes").hide();
                                $("#Notes").hide();
                                $("#return").hide();

                            }
                        }
                    }
                    catch (e) {
                        return;
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) { });


                $.ajax({
                    method: 'post',
                    headers: { 'Content-Type': 'application/json', 'XApiKey': 'pgH7QzFHJx4w46fI~5Uzi4RvtTwlEXp' },
                    url: "@myurl" + 'Andon/AndonPairingCek',
                    dataType: 'text',
                    data: JSON.stringify({ param: 'Return', gedung: gedung })
                }).done(function (data, textStatus, jqXHR) { 
                    try {
                        if (data != "[]") {

                            let jsn = JSON.parse(data);
                            if (PalID2 != jsn[0]['PalletId']) {
                                PalID2 = jsn[0]['PalletId'];

                                isiGrid3();
                                $("#flexes").hide();
                                $("#Notes").hide();
                                $("#return").show();

                            }
                        }
                    }
                    catch (e) {
                        return;
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) { });
            }
            intr++;
        }, 1000);
    });
</script>

<script type="text/x-kendo-template" id="template_toolbar">
    <div id="Build">
             <input type="text" id="BuildingID" style="width:200px;" /></div>
    <div class="toolbar AndonHeader">
          <div style="width:10vw;">
           <img src="../../img/icon1.png" height="67px"/>
         </div>
         <div style="width:65vw;font-weight:bold;" id="GridTittle">Andon Receiving Part</div>
         <div style="width:25vw;border-left:solid 1px;">
             <table id="tbHead" >
                 <tr>
                     <td style="font-weight:bold;font-size:2vh;text-align:center;margin-top:0px;margin-top:0px;" id="hari"></td>
                     <td style="font-weight:bold;font-size:2vh;text-align:center;margin-top:0px;margin-bottom:0px;" id="shift"></td>
                 </tr>
                 <tr>
                     <td style="font-weight:bold;font-size:2vh;text-align:center;margin-top:0px;margin-top:0px;" id="tanggal"></td>
                     <td style="font-weight:bold;font-size:2vh;text-align:center;margin-top:0px;margin-bottom:0px;" id="jamx"></td>
                 </tr>

             </table>
        </div>
    </div>
</script>
